.tads {
    color: red;
}

#inicio {
    color: chocolate;
    text-align: center;
    font-size: 50px;
}

#ocarina {
    width: 10%;
    height: auto;
    display: block;
    margin-top: center;
    margin-right: center;
}

.teste {
    width: 50px;
    height: 50px ;
    
}

.n_tabelas {
    text-align: center;
}

td {
    text-align: center;
}

#formatacao {
    color: brown;
}