header {
    color: red;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: black;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 300px;
}

nav a {
    color: aqua;
    font-size: 20px;
    text-decoration: none;
}

main section figure {
    text-align: center;
    display: inline-block;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}

main section figure img {
    width: 200px;
    height: 280px;
}

main form {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 450px;
    height: 400px;
}

main form legend {
    text-align: center;
}

footer {
    background-color: black;
    padding: 3px;
    border-radius: 10px;
    margin-top: 20px;
}

footer p {
    color: aqua;
    text-align: center;
}